[project]
name = "pytest-check"
authors = [{name = "Brian Okken"}]
readme = "README.md"
license = {file = "LICENSE.txt"}
description="A pytest plugin that allows multiple failures per test."
version = "2.2.2"
requires-python = ">=3.7"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Framework :: Pytest" ,
]
dependencies = ["pytest"]

[project.urls]
Home = "https://github.com/okken/pytest-check"

[project.entry-points.pytest11]
check = "pytest_check.plugin"

[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[tool.flit.module]
name = "pytest_check"

[tool.flit.sdist]
include = ["changelog.md", "examples", "tests", "tox.ini"]
